<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229361370387-otkjer1ac40dcn2a241vdcecnn0a18ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229361370387-otkjer1ac40dcn2a241vdcecnn0a18ke</string>
	<key>API_KEY</key>
	<string>AIzaSyCjkoxcjs9lxnsKxxfWh2orPEXTVY0EaCg</string>
	<key>GCM_SENDER_ID</key>
	<string>229361370387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginBackend</string>
	<key>PROJECT_ID</key>
	<string>login-screen-65942</string>
	<key>STORAGE_BUCKET</key>
	<string>login-screen-65942.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229361370387:ios:f51a743ed2c245c31b86e6</string>
</dict>
</plist>